<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893672100222-nn1n3ills9u6hhoes3mjr64sng6n3pg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893672100222-nn1n3ills9u6hhoes3mjr64sng6n3pg0</string>
	<key>API_KEY</key>
	<string>AIzaSyCCpXXiE21pDG5dwTdgdoY6Cs_N0tvGWkw</string>
	<key>GCM_SENDER_ID</key>
	<string>893672100222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Tsenguun.FirebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-e8f1e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-e8f1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893672100222:ios:bb0fdf08a96a08748c632f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-e8f1e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>